parameters:
    api_server_host:    'https://api.paneedesign.com'
    api_type:           oauth2
    api_client_id:      ~
    api_client_secret:  ~
    api_user_class:     PaneeDesign\UserBundle\Entity\User