parameters:
    api_server_host:         'https://api.paneedesign.com'
    api_type:                oauth2
    api_client_id:           <client_id>
    api_client_secret:       <client_secret>
    api_grant_url:           '%api_server_host%/oauth/v2/api_key'
    api_access_token_url:    '%api_server_host%/oauth/v2/token'
    api_authorization_url:   '%api_server_host%/oauth/v2/authorize'
    api_infos_url:           '%api_server_host%/api/user'